* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
}

main {
    min-height: 100vh;
    background-color: rgb(223, 223, 223);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex {
    display: flex;
    gap: 30px;
    padding: 30px 0;
  
}

.card-pokemon {
    display: none;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}

.lista {
    max-width: 200px;
}

.lista li {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
    background-color: rgb(173, 173, 173);
    color: rgb(0, 0, 0);
    padding: 0 5px;
    cursor: pointer;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    min-height: 70px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    transition: 0.15s ease-in-out;
}

.lista li:hover {
    transform: scale(1.05);
}

.lista li span {
    padding-right: 20px;
}

.lista .ativo {
    background-color: #ffffff;
}

.lista img {
    width: 25%;
    border-radius: 50%;
}

.card-topo {
    padding: 30px 40px 0;
}

.card-pokemon .nome {
    margin-bottom: 5px;
}

.card-pokemon .tipo {
    font-size: 12px;
    background-color: white;
    opacity: 0.7;
    border-radius: 10px;
    padding: 2px 10px;
}

.card-pokemon .detalhes {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img {
    width: 350px;
    height: 350px;
}

.card-pokemon img {
    max-height: 100%;
}

.card-infos {
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 50px 45px 40px;
    margin-top: -70px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card-infos h3 {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid grey;
}

.card-infos .status,
.habilidades {
    font-size: 15px;
    padding: 0px;
    width: 125px;
}

.card-infos .habilidades ul li,
.card-infos .status ul li {
    padding: 0 0 12px;
    border-bottom: 1px rgb(207, 207, 207) solid;
    margin-bottom: 8px;
    font-size: 15px;
}

.card-pokemon.aberto {
    display: block;
}

.tipo-fogo {
    background-color: #ed8a8b;
}

.tipo-planta {
    background-color: #35d8a7;
}

.tipo-eletrico {
    background-color: #fcc719;
}

.tipo-agua {
    background-color: #76BEFE;
}

.tipo-fantasma {
    background-color: #BA68C8;
}

.tipo-dragao {
    background-color: #ad893b;
}

/*responsivo*/

@media (max-width: 750px) {
    body {
        font-size: 12px;
    }

    .pokedex {
        flex-direction: column;
        padding: 30px 0;
    }

    .card-pokemon {
        max-width: 300px;
    }

    .card-pokemon .card-img {
        height: 200px;
        width: 200px;
    }

    .card-pokemon .card-infos {
        padding: 60px 15px 15px;
        margin-top: -50px;
    }
    .lista{

            max-width: 300px;
     
    }

    .lista ul{
        display: flex;
        gap: 5px;
        flex-wrap: wrap;     
    }

    .lista li{
        display: flex;
        width: 140px;
        margin: 3px;
    }
    .lista li span
    .card-infos .status, .habilidades {
       margin: 5px;
    }

    .card-pokemon .card-infos h3{
        font-size: 16px;
    }

    .card-infos h3 {
        font-size: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid grey;
    }
    
    .card-infos .status,
    .habilidades {
        font-size: 15px;
        padding: 0px;
        width:110px;
    }
    
    .card-infos .habilidades ul li,
    .card-infos .status ul li {
        padding: 0 0 12px;
        border-bottom: 1px rgb(207, 207, 207) solid;
        margin-bottom: 20px;
        font-size: 13px;
    }

}